@model AccountRegisterVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_AuthLayout";
}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div class="card-body p-5">
                            <h3 class="mb-5">Create account</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label">First name</label>
                                <input asp-for="FirstName" class="form-control form-control-lg" />
                                <span asp-validation-for="FirstName" style="color:red"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Last name</label>
                                <input asp-for="LastName" class="form-control form-control-lg" />
                                <span asp-validation-for="LastName" style="color:red"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Email</label>
                                <input asp-for="Email" class="form-control form-control-lg" />
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Password</label>
                                <input asp-for="Password" class="form-control form-control-lg" />
                                <span asp-validation-for="Password" style="color:red"></span>
                            </div>

                            <select asp-for="RoleId"
                                    asp-items="@new SelectList(Model.Roles, nameof(IdentityRole.Id), nameof(IdentityRole.Name))"
                                    class="form-select">
                                <option>Please select role</option>
                            </select>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                            @if (!string.IsNullOrWhiteSpace(Model?.ErrorMessage))
                            {
                                <span style="color:red">@Model.ErrorMessage</span>
                            }
                            <br />
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}